
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-size-base: 1.125rem;
$line-height-base: 1.6;

$h2-font-size: 3.125rem;
$h3-font-size: 2.1875rem;

$spacer: 1.25rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #4cc3c6;
$cleanup: #8AC8C3;

$navbar-padding-y: 0.1875rem;
