
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar{
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@include bg-variant(".bg-pink", #E6BEDA);
@include text-emphasis-variant(".text-white", #fff);
@include text-emphasis-variant(".text-cleanup", $cleanup);

.intro {
    background: url('../images/background.png');
    background-position: center center;
    background-size: cover;

    img {
        @extend .mx-auto;
        @extend .d-block;
    }
}

.collaboration {
    @extend .bg-pink;
    @extend .text-center;
    @extend .text-white;
}

.steps {
    @extend .text-center;
    @extend .text-cleanup;

    h2,
    h3 {
        @extend .font-weight-bold;
    }

    h3 {
        @extend .text-dark;
    }

    p {
        @extend .lead;
    }
}

